<div class="channel" [ngClass]="{disabled: channel.active == 0}">
  <p class="id">{{ channel.ord }}</p>
  <div class="logo">
    <img [src]="logoAssets + channel.hash" alt="{{ channel.channel }}">
  </div>
  <p class="name">{{ channel.channel }}</p>
  <p class="added_at">
    <!--    <svg><use href="assets/icons/channel_item.svg#src-4"></use></svg>-->
    <span>{{ channel.created_at }}</span>
  </p>
  <div class="actions">
    <!--    [queryParams]="{mode: 'edit', id: channel.id, hash: channel.hash}"-->
    <a href="#" title="Details" [routerLink]="['../../information/default']"
      [queryParams]="{uId: '1', cId: channel.id, cName: channel.channel, cHs: channel.hash}">
      <svg>
        <use href="assets/icons/channel_item.svg#src-3"></use>
      </svg>
    </a>
    <a href="#" title="Edit" [routerLink]="['../form']" [queryParams]="{mode: 'edit', id: channel.hash}">
      <svg>
        <use href="assets/icons/channel_item.svg#src-2"></use>
      </svg>
    </a>
    <a (click)="onDeactivate(channel.hash)">
      <svg>
        <title>{{ channel.active == 1 ? 'Deactivate' : 'Activate' }}</title>
        <use *ngIf="channel.active == 1" href="assets/icons/channel_item.svg#src-6"></use>
        <use *ngIf="channel.active == 0 || channel.active == null" href="assets/icons/channel_item.svg#src-7"></use>
      </svg>
    </a>
    <a title="Delete" (click)="onDelete(channel.hash)">
      <svg>
        <use href="assets/icons/channel_item.svg#src-1"></use>
      </svg>
    </a>
  </div>
</div>
