div.no-infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20rem;
    p{
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }
    div.actions{
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 2rem;
      a{
        transition: background-color .2s ease-in;
        font-size: 1.4rem;
        font-weight: bold;
        text-decoration: none;
        color: #333;
        padding: 1rem 2rem;
        border-radius: .5rem;
        background-color: darken(yellow, 10);
        &:hover{
          background-color: darken(yellow, 15);
        }
        &:last-of-type{
          background-color: #777777;
          &:hover{
            background-color: darken(#777, 5);
          }
        }
      }
    }
  }
  