<section>
  <div *ngIf="channelInfo$ | async as channel; else noData">
    <app-details [info]="channel"></app-details>
  </div>
  <ng-template #noData>
    <div class="no-infos">
      <p> This channel has no information yet.</p>
      <div class="actions">
        <a href="#" [routerLink]="['../new']"
           [queryParams]="{mode: 'new', uHs: qParams.userHash, cHs: qParams.channelHash, cName: qParams.channelName}">Add
          information</a>
        <a href="#" [routerLink]="['/dashboard/network']">Back</a>
      </div>
    </div>
  </ng-template>
</section>

