<section class="guides">
  <div class="header">
    <h1>Create a Guide</h1>
  </div>
  <div>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="guide" ngModelGroup="guideModel" #guideModel="ngModelGroup">
        <div class="widget">
          <label for="guide_title" class="label">
            <span class="label">Title</span>
            <input ngModel name="guide_title" type="text" id="guide_title" class="form-control" required>
          </label>
        </div>
        <div class="widget">
          <label>
            <span class="label">Channel</span>
            <select name="channel" ngModel required>
              <option *ngFor="let ch of channelList" value="{{ch.hash}}">{{ch.name}}</option>
            </select>
          </label>
        </div>
      </div>

      <div *ngIf="step !== 0" class="program" ngModelGroup="program">
        <p class="prog-step">Program <span>{{ step }}</span></p>
        <div class="widget">
          <label for="program_title" class="label">
            <span class="label">Title</span>
            <input ngModel name="program_title" type="text" id="program_title" class="form-control" required>
          </label>
        </div>
        <div class="widget">
          <label for="air_datetime" class="label">
            <span class="label">Air Datetime</span>
            <input ngModel name="air_datetime" type="datetime-local" id="air_datetime" class="form-control" required>
          </label>
        </div>
        <div class="widget file">
          <label class="file">
            <span class="label">Thumbnail</span>
            <a *ngIf="filename" class="unset" (click)="resetFile(form, $event); myInput.value = ''">Clear</a>
            <span class="placeholder" (ngModel)="filename">{{ filename ? filename : 'Pick an Image ...' }}</span>
            <input #myInput ngModel type="file" name="thumbnail" id="thumbnail" accept="image/*" (change)="onFileSelected($event)"
              required>
          </label>
        </div>
      </div>
      <div class="add_container" *ngIf="step !== 0">
        <input type="button" value="Add another Program" [class.disabled]="!form.valid" (click)="form.valid ? onAdd(form) : ''"/>
      </div>
      <div class="controls">
        <input *ngIf="step === 0; else submit" type="button" value="Next" [disabled]="!guideModel.valid"
          [class.disabled]="!guideModel.valid" (click)="guideModel.valid ? onNext(form) : ''" />
        <ng-template #submit>
          <input type="submit" name="submit" value="Submit" [disabled]="!form.valid" [class.disabled]="!form.valid">
        </ng-template>
        <a href="#" class="cancel" (click)="onCancel($event)">Cancel</a>
      </div>
    </form>
  </div>
</section>
